/* ------------------------------
HTML Redefine Tags
------------------------------ */
body {
    font-family:Arial, Helvetica, sans-serif; 
    font-size:12px; 
    margin:20px; 
    padding:0;
    border: 1px solid black;
}

input, form, textarea
h1, h2, h3, h4, h5, h6{margin:0; padding:0;}
h1{font-size:18px;}
h2{font-size:14px; color:#999999;}
h3{font-size:13px; border-bottom:solid 1px #DEDEDE; padding:4px 0; margin-bottom:10px;}

a:link, a:visited{color:#0033CC;}
a:hover{text-decoration:none;}

/* ------------------------------
PAGE STRUCTURE
------------------------------ */

/* #container has an absolute width (780 pixel) */

#container {
    width:780px;
    margin:0 auto;
    border: 1px solid black;
}

#topbar {
    width:auto; 
    height:60px;
    display:block; /* https://www.w3schools.com/cssref/pr_class_display.asp */
    border: 1px solid red
}

#navbar {
    width:auto; 
    height:28px;
    display:block; 
    border: 1px solid purple;
}
#navbar a {
    height: 28px; 
    line-height:28px; 
    padding:0 8px; 
    display:inline;
    border: 1px solid greenyellow
}

#main {
    width:auto; 
    display:block; 
    padding:10px 0; /* https://www.w3schools.com/cssref/tryit.asp?filename=trycss_padding Padding creates extra space within an element, while margin creates extra space around an element!*/
    border: 1px solid blueviolet
}
#column_left {
    width:460px; 
    margin-right:20px; 
    float:left;/*Specifies whether or not a box should float*/
    border: 1px solid brown
}
#column_right {
    width:160px; 
    margin-right:20px; 
    float:left;
    border: 1px solid blueviolet
}

#column_right_adsense {
    width:112px;
    float:left;
    border: 1px solid seagreen
}

div.spacer {
    clear:both; 
    height:10px; 
    display:block;
    border: 1px solid green
}

#footer {
    width:auto; 
    display:block; 
    padding:10px 0; 
    font-size:11px; 
    color:#666666;
    border: 1px solid red
}

/* ------------------------------
CUSTOM CLASSES
------------------------------ */

/* Add here your custom classes ... */